<div class="page-header">
  <div class="d-flex justify-content-between align-items-center">
    <h1><%= title %></h1>

    <%= svelte_component("ContactCount", message: "Count", count: local_assigns[:contact_count]) %>
  </div>
</div>
